{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
  
  <div class="header">
    {% include "templates/partials/monica-matthew-header.svg" %}
  </div>
  
  <nav class="page-nav">
    {% for row in cms.homepage.sections  %}
          <li><a href="#{{row.title}}">{{row.title}}</a></li>
    {% endfor %}
  </nav>


  <div class="announcement">
    {{cms.homepage.announcement|safe}}
  </div>
  
  {% for row in cms.homepage.sections  %}
    <section class="information-box" id="{{row.title}}">
        <h2 class="information-box__title">{{row.title}}</h2>
        <div class="information-box__description">
          {{row.info|safe}}
        </div>
    </section>
  {% endfor %}


{% endblock %}
